@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root{
  --theme-bright-orange: hsl(31, 77%, 52%);
  --theme-dark-cyan: hsl(184, 100%, 22%);
  --theme-very-dark-cyan: hsl(179, 100%, 13%);

  --theme-transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
  --theme-very-light-gray: hsl(0, 0%, 95%); /* background, headings, buttons */

  --font-theme-lexend: "Lexend Deca";
  --font-theme-shoulders: "Big Shoulders Display";
}

.custom-container{
    width: 864px;
    height: 460px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--theme-light-cyan);
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: underline;
}